body,html{
  padding:0;
  margin:0;
  background-color: orange;
}
#tab1.panel{
  background-color: red;
}
#tab2.panel{
  background-color: orange;
}
#tab3.panel{
  background-color: yellow;
}
#tab4.panel{
  background-color: blue;
}
#tab5.panel{
  background-color: green;
}
#tab6.panel{
  background-color: black;
}
.active{
  display: block !important;
}
.panel{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  display:none;
  -webkit-transition: -webkit-transform 1s ease-out;
  -moz-transition: -moz-transform 1s ease-out;
  -o-transition: -o-transform 1s ease-out;
  transition: transform 1s ease-out;
}
.setLeft{
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
.setRight{
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -o-transform: translateX(100%);
}
.page-title{
  position: relative;
  width: 100%;
  height: auto;
  background-color: white;
  z-index: 5;
}
.page-title >.page-title-content{
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 8px;
  color: orange;
  font-size: 40px;
  padding: 10px 0px;
}
@media screen and (max-width: 860px){
  .page-title >.page-title-content{
    font-size: 28px;
  }
}
/*---------------*/
.wrap{
  border-right: 70px solid white;
  border-left: 70px solid white;
  z-index: 5;
  position: relative;
  width: auto;
}

.wrap-image > img{
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
}
.main-tabs{
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
  font-size: 20px;
  color: rgb(134, 132, 132);
  font-family: monospace;
  font-weight: bold;
}
@media screen and (max-width: 860px){
  .main-tabs{
    font-size: 14px;
  }
}
@media screen and (max-width: 560px){
  .main-tabs{
    font-size: 8px;
  }
}
.main-tabs > .tab-content{
  display: table;
  margin: 0 auto;
  width: 100%;
  height:auto;
  text-align: center;
  cursor: pointer;
}
.tab-content > .tab{
  display: table-cell;
  vertical-align: middle;
  word-break: break-all;
}
.tab > .tabname{
  background-color: white;
  padding-bottom: 2px;
}
.tab:hover > .tabname{
  padding-bottom: 0px;
  margin-bottom: 2px;
}
/*---------------*/

